/*O * é utilizado para formatar todas tags do HTML, neste ponto anulo todas as pré configurações do navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 100vh;
}

/*Página home*/
.cabecalho {
    background: #242424;
    display: flex;
    /*ação: fileira*/
    flex-direction: row;
    align-items: center;
    /*itens são distribuídos de forma uniforme, com margens iguais à esquerda e à direita, acima e abaixo também*/
    justify-content: space-around;
    padding: 0px;
}

.cabecalho-imagem {
    height: 170px; 
    width: 170px;
    border: none;
}

.cabecalho-menu {
    display: flex;
    /*distância entre as âncoras, opções do menu*/
    gap: 60px;
}

.cabecalho-menu-item {
    font-size: 23px;
    color: #00b7eb;
    text-decoration: none;
}

.cabecalho-menu-item:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.conteudo {     
    /*colocar linha de divisão entre o cabeçalho e o conteúdo principal*/     
    border-top: 0.4px solid #ffffff;
    background: #707070;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;    
    gap: 32px;
    border-right: 0.4px solid #ffffff;
}

.conteudo-principal-escrito-titulo {
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
    font-size: 50px;
    color: #09cffc;
}

.conteudo-principal-escrito-subtitulo01 {
    font-size: 35px;
    margin-right: 50px;
    margin-left: 50px;
    color: #09cffc;
}

.conteudo-principal-escrito-subtitulo02 {
    text-align: center;
    font-size: 25px;
    margin-right: 50px;
    margin-left: 50px;
    color: #09cffc;
}

@keyframes conteudo-principal-imagem {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

.conteudo-principal-imagem {
    margin:auto; 
    height: 300px;
    width: 300px;
    margin-bottom: 80px;
    -webkit-animation: conteudo-principal-imagem .99s linear infinite;
    -moz-animation: conteudo-principal-imagem .99s linear infinite;
    -ms-animation: conteudo-principal-imagem .99s linear infinite;
    -o-animation: conteudo-principal-imagem .99s linear infinite;
    animation: conteudo-principal-imagem .99s linear infinite;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-bottom: 80px;
}

.conteudo-paragrafo-01 {
    margin-top: 120px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    color: #09cffc;
}

.conteudo-paragrafo-02 {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;
    color: #09cffc;
}

.conteudo-principal-escrito-botao {
    text-align: center;
    font-size: 18px;
    background-color: #000072;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #e7e6f4;
    cursor: pointer;
    margin-bottom: 30px;
}

.rodape {
    height: 140px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #242424;
    border-top: 0.4px solid #ffffff;
    align-items: center;   
}

.rodape-paragrafo{
    text-align: center;
    font-size: 15px;
    color: #00b7eb;
    padding: 50px;
}

/*Página de serviços e planos*/

.pricing-header {
    max-width: 1000px;
  }

.bi {
    vertical-align: -.125em;
    fill: currentColor;
    color: white;
}

.cor-servicos-e-planos {
    background: #707070;
    color: #00b7eb;
    border-top: 0.4px solid #ffffff;
}

.planos {
    padding-left: 20px;
    padding-right: 20px;
    background: #707070;
    color: #00b7eb;    
}

.conteudo-servicos-e-planos {
    font-size: 22px;
}

.cor-texto-compare {
    color: #00b7eb;
}

/*Pagina de Cadastro*/

.formulario {
    
    margin: 2%;
    padding: 2%;
    border: solid 5px black;
    border-radius: 20px;
    margin-left: 350px;
    margin-right: 350px;
}
.tituloCadastro {
    text-align: center;
    padding: 2%;

}
.group {
    display: flex;
    justify-content: space-evenly;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
.formCadastro {
        width: 70%;
        padding: 30px;
        background: white;
        border-radius: 5px;
    
}
.conteiner {
    background: #707070;
    padding: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Pagina de Login*/

.html-login-01 {
    height: 100%;
}

.corpo-login01 {
    background: #707070;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-signin {
    max-width: 400px;
    padding: 30px;
    background: white;
    border-radius: 5px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;  
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} 

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.esqueci-minha-senha {
    padding-bottom: 10px;
}

/*Página de Recuperação de Senha*/

.html-recuperacao02 {
    height: 100%;
}

.corpo-login02 {
    background: #707070;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Pagina de contato*/
.caixa {
    background: white;
    border-radius: 5px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    
    padding: 30px;
}
.colunas {
    display: flex;
    text-align: center;
    
    background: white;
    
   

}

.colu{
justify-content: space-evenly;
    padding: 15px;
    margin: 2px;
    border-radius: 12px;
    border: black solid
}

h2 {
    text-align: center;
}
cargo {
    text-align: center;
    white-space: pre;
    
}
